$height-min-content: calc(100vh - 166px);
$header-height: 70px;
$footer-height: 95px;
$height-safe-area: calc(100vh - (77px + 55px));
$bottom-sheet-expanded-height: 70vh;

// field height
$fieldBoxHeight: 46px;

//sidebarHeader
$height-min-header: 54px;

$height-impersonated-header: 56px;