// orientation modes
$mode-orientation-landscape: 'mode--orientation-landscape';

// scroll modes
$mode-scroll-lock: 'mode--scroll-lock';

// dialog modes
$mode-dialog-open: 'mode--dialog-open';

// overlay modes
$mode-overlay-open: 'mode--overlay-open';

// pseudo-input-capture modes
$mode-pseudo-input-capture-open: 'mode--pseudo-input-capture-open';