// site header
$z-index-site-header: 2900;

// bottom navigation bar
$z-bottom-nav-bar: 2900;

// overlay backdrop shadow
$z-index-overlay-backdrop: 9999;

// pseudo input capture
$z-index-pseudo-input-capture: 5000;

// bottom sheet
$z-index-bottom-sheet: 5300;

//side navigation bar
$z-index-side-bar-nav: 5400;

// dialog popup box
$z-index-dialog: 5500;

// popover
$z-index-popover: 5910;
$z-index-popover-backdrop: 5900;

// page level preloader
$z-index-page-preloader: 6000;

// non landscape mode (error screen) for mobile
$z-index-no-landscape-mode: 7000;

// choice-list view
$z-index-dropdown: 9;
